h1{
    font-weight: thick;
    text-align: center;
}

p{
    text-align: left;
    padding: 10px 20px;
}

img{
    height: 300px;
    width: auto;
    border-radius: 5% 30% 5% 30%;
}

div.dark{
    background-color: #6BCDE3;
    padding: 10px 50px 10px 10px;
}

h1, h2, p, li{
    margin: 0;
    /* padding: 10px 10px 10px 10px; */
    color: rgb(58, 88, 145);
    font-family: cursive;
}

body{
    margin: 0;
    background-color: #6BCDE3;
}

div.light{
    background-color: #70c3e9;
    padding: 10px 50px 10px 10px;
}

ul {
   margin: 20px;
   border: thick double rgb(0, 137, 223);
   width: fit-content;
   padding: 5px;
   
}

.flex {
    display: flex;
        justify-content: space-around;
        align-items:center;
}

.linkBox{
    display: flex;
    justify-content:start;
    align-items: start;
}

.btn{
    color: rgb(58, 88, 145);
    border: 1px solid  rgb(58, 88, 145);
    border-radius: 4px;
    padding: 4px;
    margin: 5px;
    background-color: #6BC;
    box-shadow: 2px 2px 1px;
    font-family: cursive;
    transition: 2s;
}

.btn a {
    text-decoration: none;
    color: rgb(58, 88, 145);;
}

.btn:hover{
    transform: scale(1.5);
}




