p{
    color: rgb(174, 74, 255);
}
#The-end-of-humanity{
    font-size: larger;
}

.important {
    color: rgb(0, 255, 170);
}

.condescending{
    color: rgb(0, 136, 255);
}

h2.important{
    font-size: 32px;
}