p{
    color: rgb(174, 74, 255);
    text-align: left;
}

div{
    background-color: green;
}

h1, h2, p{
    margin: 0;
    color: rgb(0, 191, 255);
}

body{
    margin: 0;
}

div.linkBox{
    background-color: aqua;
    padding: 10px 50px 10px 10px;
}

#The-end-of-humanity{
    font-size: larger;
}

.important {
    color: rgb(0, 255, 170);
}

.condescending{
    color: rgb(0, 136, 255);
}

h2.important{
    font-size: 32px;
}

.AboutMePage {
    border: 5px dotted rgb(152, 159, 251);
    padding: 0.5em;
    margin: 3px, 1px, 3px, 1px;
}

ol, ul {
    text-align:left;
}

h2, h1, h3 {
    text-align:center;
}